<!-- using flask, which leverages jinja2 as the template engine -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>-->
                    <div class="navbar-brand" style = "color: white;">{{ title }}</div>
                </div>
            </div>
        </nav>
        <div class="container">
            <p>If you are like me, I wasn't sure what an RSS feed was when first working on this project. According to Macmillian Dictionary, an RSS feed "is a file that
            delivers information from a website, sometimes in a summary with links to the full document, to another website.
            RSS feeds are used mainly to supply the latest information to websites that are regularly updated."</p>
            <p>{{ project_description }} The whitelisted website restriction is due to constraints set by PythonAnywhere's free plan.</p>
            <p>Example RSS Feeds to use:</p>
            <li>https://www.nlm.nih.gov/rss/auto/NLMGeneralAnnouncements.rss</li>
            <li>https://www.loc.gov/rss/pao/news.xml</li>
            <li style = "margin-bottom: 12px;">https://xkcd.com/rss.xml</li>
            <p>For more, visit <a href = "https://www.pythonanywhere.com/whitelist/">PythonAnywhere's whitelisted websites</a></p>
            <form method="POST" style = "margin-bottom: 12px;">
                <!-- for="element_id" -->
                <label for="fname">Paste in full URL of RSS Feed, including http:// or https:// below:</label><br />
                <!-- id for DOM (CSS or JS) and name for HTTP methods like POST -->
                <input type="text" action="{{ url_for('index_post') }}" id="userURL" name="userURL"><br /><br />
                <input type="submit" class="btn btn-success" value="View">
            </form>
            {% if 'onWebAppStart' == rss_feed %}
            <!-- Show nothing when page first opens -->
            {% elif rss_feed is defined %}
            <p>Current link: {{ currentLink }}</p>
            <p>Formatted RSS Feed:</p>
                {% for article in rss_feed %}
                <li>{{ article['title'] }} - {{ article['publishingDate'] }}</li>
                <p>Link: <a href = "{{ article['link'] }}" >{{ article['link'] }}</a></p>
                {% endfor %}
            {% else %}
                <p>No URL or invalid URL provided. Please try again.</p>
            {% endif %}
            <p>If the web app needs to reset, navigate again to http://allandao.pythonanywhere.com (without a # or anything else at the end) or simply <a href = "http://allandao.pythonanywhere.com/">click here.</a>
            <p>Made by <a href = "https://allandao.com" style = "margin: 20px 0 20px 0;">Allan.</a></p>
        </div>
        <!-- end of container -->
    </body>
</html>