<!-- using flask, which leverages jinja2 as the template engine -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
    </div>
</nav>

<div class="container">
<!-- <h2>{{ title }}</h2> -->
<p>{{ paragraph }}</p>
<p>The whitelisted website restriction is due to constraints set by PythonAnywhere's free plan.</p>
<a href = "https://www.pythonanywhere.com/whitelist/">PythonAnywhere's Whitelisted Websites</a>
<p>Example RSS Feeds to use:</p>
<li>https://www.nlm.nih.gov/rss/auto/NLMGeneralAnnouncements.rss (Default feed on page load)</li>
<li>https://www.loc.gov/rss/pao/news.xml</li>
<li style = "padding-bottom: 15px;">https://xkcd.com/rss.xml</li>

<form method="POST" style = "padding-bottom: 15px;">
  <label for="fname">Paste in full URL of RSS Feed, including http:// or https:// :</label><br />
  <input type="text" id="UserURL" name="UserURL" value=""><br /><br />
  <input type="submit" class="btn btn-success" value="View">
</form>

<p>Formatted RSS Feed:</p>

{% for article in url %}
    <li>{{ article['title'] + ' - ' + article['publishingDate'] }}</li>
    <p>{{ article['link'] }}</p>
{% endfor %}

<p>Made by <a href = "allandao.com" style = "padding: 20px 0 20px 0;">Allan.</a></p>

</div> <!-- end of container -->

</body>
</html>
